{
  "trailingComma": "all",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine":"auto",
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yml",
        "*.md"
      ],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.{ts}",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}